body {
  background-color: rgb(248, 223, 111);

}

h1 {
  text-align: center;
  margin-top: 10rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

footer {
  position: absolute;
  width: 100%;
  color: BLACK;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
  font-family: monospace;
}
